*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
 
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #000 !important;
}


.card {
  height: 18rem;
  background-color: #ffa07a !important;
  box-shadow: 2px 2px 2px 1px #141212;
}

.card-title {
  color: #800000;
}

.buton {
  border-radius: 5px;
  background-color: #000;
}